
<MudAppBar Bottom="true" Fixed="true" Elevation="0" Class="mt-5 border-top border-secondary" Style="background-color: #212121;">
    <MudSpacer />
    <MudIconButton Size="Size.Medium" Class="p-3" Icon="@Icons.Material.Filled.Home" Href="/"><div class="py-2">Home</div></MudIconButton>
    <MudIconButton Size="Size.Medium" Class="p-3" Icon="@Icons.Material.Filled.Person" Href="/About"><div class="py-2">About</div></MudIconButton>
    <MudIconButton Size="Size.Medium" Class="p-3" Icon="@Icons.Material.Filled.WorkHistory" Href="/Experience"><div class="py-2">Experience</div></MudIconButton>
    <MudIconButton Size="Size.Medium" Class="p-3" Icon="@Icons.Material.Filled.FeaturedPlayList" Href="/FeaturedWork"><div class="py-2">Featured Work</div></MudIconButton>
    <MudIconButton Size="Size.Medium" Class="p-3" Icon="@Icons.Material.Filled.SnippetFolder" Href="/PetProjects"><div class="py-2">Pet Projects</div></MudIconButton>
    <MudSpacer />
</MudAppBar>

@code {
    
}
