<MudAppBar Elevation="1">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
    <MudImage Src="images/icon.png" Width="32" Height="32" Alt="Ray Linder. Relentless. Results." Elevation="0" Class="me-4" />
    <MudText Typo="@Typo.body1">Ray Linder. Relentless. Results.</MudText>
    <MudSpacer />
</MudAppBar>
<MudDrawer @bind-Open="@_open" ClipMode="@DrawerClipMode.Always" Elevation="1" Anchor="Anchor.Start" Variant="@DrawerVariant.Responsive">
    <!-- <MudDrawerHeader>
        <MudText Typo="Typo.h6">My App</MudText>
    </MudDrawerHeader> -->
    <MudNavMenu>
        <MudNavLink Match="@NavLinkMatch.All"><div class="py-2">About</div></MudNavLink>
        <MudNavLink Match="@NavLinkMatch.All"><div class="py-2">Experience</div></MudNavLink>
        <MudNavLink Match="@NavLinkMatch.All"><div class="py-2">Featured Work</div></MudNavLink>
        <MudNavLink Match="@NavLinkMatch.All"><div class="py-2">Pet Projects</div></MudNavLink>
        <MudNavLink Match="@NavLinkMatch.All"><div class="py-2">Social</div></MudNavLink>
        <MudNavLink Match="@NavLinkMatch.All"><div class="py-2">Contact</div></MudNavLink>
        <MudNavLink Match="@NavLinkMatch.All"><div class="py-2">Resume</div></MudNavLink>
    </MudNavMenu>
</MudDrawer>

@code {
    private bool _open = false;

    private void ToggleDrawer()
    {
        _open = !_open;
    }
}
